* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: url('/img/bg4.jpg') center center; */
    background-color: #322929;
    /* background-size: cover; */
}

.container {
    position: relative;
    margin: auto;
    height: 85vh;
    width: 85vh;
    background: url(./img/bg1.png) no-repeat center center;
    background-size: contain;
}

.hour {
    position: absolute;
    height: 24%;
    width: 25%;
    background: url(./img/hourhand.webp) no-repeat center center;
    background-size: contain;
    top: 29.2%;
    left: 39%;
    transform-origin: 50.5% 91.5%;
    transform: rotate(63deg);

}

.minute {
    position: absolute;
    height: 35%;
    width: 10%;
    background: url(./img/minuteHand-2.webp) no-repeat center center;
    background-size: cover;
    top: 18.4%;
    left: 46.5%;
    /* transform: rotate(180deg); */
    transform-origin: 50% 93.2%;
}

.second {
    position: absolute;
    height: 45%;
    width: 42%;
    background: url(./img/secondhand.webp) no-repeat center center;
    background-size: contain;
    top: 20%;
    left: 30.78%;
    transform-origin: 50% 69.5%;
}

.pin {
    font-size: 2vh;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5%;
    width: 5%;
    background-color: black;
    border-radius: 50%;
    top: 48.5%;
    left: 49%;
}

@media only screen and (max-width: 800px) {
    .container {
        height: 95vw;
        width: 95vw;
    }

    .pin {
        font-size: 2vw;
    }
}